.projects-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}
  
.content {
    max-width: 1200px;
    margin: 0 auto;
}
  
.header {
    font-size: 2.7rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}
  
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 5vh;
}
  
.project {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
}
  
.project:hover {
    transform: scale(1.03);
}
  
.project-title {
    font-size: 1.5em;
    margin-top: 1vh;
    font-weight: bold;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-img {
    width: 90%;
    height: auto; 
    background-size: cover;
    background-position: center;
    margin: 1vh 0 2vh 0;
}
  
.project-description {
    padding: 10px;
    text-align: start;
    height: 24vh;
    margin-bottom: 1vh;
}

.link-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 0 4vh 0;
}

.description-container {
    display: flex;
    margin-bottom: 10vh;
}

.github-link, .project-link {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    text-align: center;
}
  
.github-link:hover, .project-link:hover {
    background-color: crimson;
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .projects-container {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }
      
    .content {
        max-width: 1200px;
        margin: 0 auto;
    }
      
    .header {
        font-size: 2.7rem;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 700;
    }
      
    .project-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        margin: 5vh 0 -200px 0;
    }
      
    .project {
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        transition: 0.3s ease-in-out;
    }
      
    .project:hover {
        transform: scale(1.03);
    }
      
    .project-title {
        font-size: 1.5em;
        margin-top: 1vh;
        font-weight: bold;
        background-color: #f4f4f4;
        padding: 10px;
        text-align: center;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .project-img {
        width: 90%;
        height: auto; 
        background-size: cover;
        background-position: center;
        margin: 1vh 0 2vh 0;
    }
      
    .project-description {
        padding: 10px;
        text-align: start;
        height: 24vh;
    }
    
    .link-container {
        display: flex;
        justify-content: space-evenly;
        margin: 2vh 0 4vh 0;
    }
    .github-link, .project-link {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        background-color: #000000;
        border-radius: 5px;
        text-align: center;
    }
      
    .github-link:hover, .project-link:hover {
        background-color: crimson;
    }
}

@media only screen and (min-width: 667px) and (max-width: 932px) and (orientation: landscape) {
    .projects-container {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }
      
    .content {
        max-width: 700px;
        margin: 0 auto;
    }
      
    .header {
        font-size: 2.7rem;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 700;
    }
      
    .project-list {
        display: flex;
        flex-direction: column;
        margin: 5vh 0 -200px 0;
    }
      
    .project {
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        transition: 0.3s ease-in-out;
        height: 300px;
    }
      
    .project:hover {
        transform: scale(1.03);
    }
      
    .project-title {
        font-size: 1.5em;
        margin-top: 1vh;
        font-weight: bold;
        background-color: #f4f4f4;
        padding: 10px;
        text-align: center;
    }
    
    .descrip-image {
        display: flex;
        height: 233px;
        margin: 0px 20px 0px 20px ;
    }

    .descrip-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .project-img {
        width: auto;
        height: 90%; 
        background-size: cover;
        background-position: center;
        margin: 1vh 0 2vh 0;
    }
      
    .project-description {
        padding: 10px;
        text-align: start;
        height: 50%;
        width: 100%;
        font-size: .9rem;
    }
    
    .link-container {
        display: flex;
        justify-content: space-evenly;
        margin: 23px 0 0 0;
    }

    .github-link, .project-link {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        background-color: #000000;
        border-radius: 5px;
        text-align: center;
        position: relative;
        bottom: -52px;
        margin: 0 20px 0 20px;
    }
      
    .github-link:hover, .project-link:hover {
        background-color: crimson;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .projects-container {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }
      
    .content {
        max-width: 1200px;
        margin: 0 auto;
    }
      
    .header {
        font-size: 2.7rem;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 700;
    }
      
    .project-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        margin-top: 5vh;
    }
      
    .project {
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        transition: 0.3s ease-in-out;
    }
      
    .project:hover {
        transform: scale(1.03);
    }
      
    .project-title {
        font-size: 1.5em;
        margin-top: 1vh;
        font-weight: bold;
        background-color: #f4f4f4;
        padding: 10px;
        text-align: center;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .project-img {
        width: 90%;
        height: auto; 
        background-size: cover;
        background-position: center;
        margin: 1vh 0 2vh 0;
    }
      
    .project-description {
        padding: 10px;
        text-align: start;
        height: 24vh;
    }
    
    .link-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 40px 0 30px 0;
    }
    .github-link, .project-link {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        background-color: #000000;
        border-radius: 5px;
        text-align: center;
    }
      
    .github-link:hover, .project-link:hover {
        background-color: crimson;
    }
}