.projects-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.content {
    max-width: 1200px;
    margin: 0 auto;
}
  
.header {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}
  
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 10vh;
}
  
.project {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
}
  
.project:hover {
    transform: scale(1.05);
}
  
.project-title {
    font-size: 1.5em;
    margin-top: 1vh;
    font-weight: bold;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}
  
.project-img {
    width: 90%;
    height: auto; 
    background-size: cover;
    background-position: center;
    margin: 1vh 1vw 2vh 1vw;
}
  
.project-description {
    padding: 10px;
    text-align: justify;
    height: 24vh;
}

.link-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 0 4vh 0;
}
.github-link, .project-link {
    display: inline-block;
    /* margin: 1vh 1vw 3vh 1vw; */
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    text-align: center;
}
  
.github-link:hover, .project-link:hover {
    background-color: crimson;
}