.intro-text {
    margin-left: 2vw;
    width: 60vw;
    margin-top: 1vh;
    margin-bottom: 8vh;
}

.intro {
    height: 42vh;
    margin-top: 27vh;
    display: flex;
    flex-direction: row;
}
.name {
    color: crimson;
    font-size: 5rem;
    font-family: 'B612 Mono', monospace;
    font-weight: 700;
}

.description-1 {
    font-size: 2rem;
    font-weight: 700;
}
.description-2 {
    font-size: 2rem;
    font-weight: 700;
}

.statement {
    font-weight: 400;
    width: 50vw;
    text-align: justify;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;

}

.carousel {
    height: 42vh;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skillImg {
    width: auto;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.left-arrow {
    position: absolute;
    top: 45%;
    left: 65%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease-in-out;
}

.left-arrow:hover {
    color: crimson;
    transform: scale(1.2);
}

.right-arrow {
    position: absolute;
    top: 45%;
    right: 5%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease-in-out;
}

.right-arrow:hover {
    color: crimson;
    transform: scale(1.2);
}

.active {
    width: auto;
    height: 40%;
    background-size: cover;
    background-position: center;
    transition-duration: 1s;
    transform: scale(1.2);
    position: relative;
    top: -4%;
}

.inactive {
    transition-duration: 1s ease;
}

.active .skill-title {
    visibility: hidden;
    width: 120px;
    background-color: rgb(0, 0, 0);
    opacity: 80%;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 10;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}

.active .skill-title::after {
    content: "";
    position: absolute;
    top: 95%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.active:hover .skill-title {
    visibility: visible;
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .intro-text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 110px;
        left: -8px;
    }
    
    .intro {
        height: 352px;
        display: flex;
        flex-direction: column;
    }
    .name {
        color: crimson;
        font-size: 3rem;
        font-family: 'B612 Mono', monospace;
        font-weight: 700;
        text-align: justify;
        margin: 10px 0 0 10px;
    }
    
    .name-last {
        margin-left: 10px;
    }

    .description-1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 10px;
    }
    .description-2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 10px;
    }
    
    .statement {
        font-weight: 400;
        width: 90%;
        text-align: start;
        margin-left: 10px;
        font-size: .9rem;
        margin-top: 10px;
    }
    
    .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 373px;
    }
    
    .carousel {
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .skillImg {
        width: auto;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    
    .left-arrow {
        position: absolute;
        top: 95px;
        left: 8%;
        font-size: 2.5rem;
        color: #000;
        z-index: 10;
        cursor: pointer;
        user-select: none;
        transition: 0.3s ease-in-out;
    }
    
    .left-arrow:hover {
        color: crimson;
        transform: scale(1.2);
    }
    
    .right-arrow {
        position: absolute;
        top: 95px;
        right: 8%;
        font-size: 2.5rem;
        color: #000;
        z-index: 10;
        cursor: pointer;
        user-select: none;
        transition: 0.3s ease-in-out;
    }
    
    .right-arrow:hover {
        color: crimson;
        transform: scale(1.2);
    }
    
    .active {
        background-size: cover;
        background-position: center;
        transition-duration: 1s;
        transform: scale(1.2);
        position: relative;
    }
    
    .inactive {
        transition-duration: 1s ease;
    }
    
    .active .skill-title {
        visibility: hidden;
        width: 120px;
        background-color: rgb(0, 0, 0);
        opacity: 80%;
        color: white;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
     
        position: absolute;
        z-index: 10;
        bottom: 120%;
        left: 50%;
        margin-left: -60px;
    }
    
    .active .skill-title::after {
        content: "";
        position: absolute;
        top: 95%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    
    .active:hover .skill-title {
        visibility: visible;
    }

    hr {
        margin-top: 68%;
    }
}