.navbar {
    height: 20vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background: rgb(210, 210, 210);
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu {
    margin: 0 1vw 0 0;
}

.logo {
    height: 20vh;
    width: auto;
}

.logo:hover {
    cursor: pointer;
}

.menuItem {
    margin: 1vw;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: black;
}

.menuItem:hover {
    color: crimson;
    border-bottom: 3px solid crimson;
}

@media only screen and (min-width: 321px) and (max-width: 483px) and (orientation: portrait) {
    .navbar {
        width: 100%;
        height: 100px;
        border: 1px solid black;
        background: rgb(210, 210, 210);
    }
    
    .navbar-container {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
    }
    
    .logo-container {
        height: 100px;
        width: auto;
        left: 0;
    }

    .logo {
        height: 100px;
        width: auto;
        left: 0;
        margin: 0;
    }
  
    .menu {
        margin-right: 20px;
    }
    
    .menuItem {
        font-size: 1.2rem;
        font-weight: 700;
        cursor: pointer;
        color: black;
        margin: 0 7px 0 7px;
    }
    
    .menuItem:hover {
        color: crimson;
        border-bottom: 3px solid crimson;
    }
}

@media only screen and (min-width: 667px) and (max-width: 932px) and (orientation: landscape) {
    .navbar {
        width: 100%;
        height: 100px;
        border: 1px solid black;
        background: rgb(210, 210, 210);
    }
    
    .navbar-container {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
    }
    
    .logo-container {
        height: 100px;
        width: auto;
        left: 0;
    }

    .logo {
        height: 100px;
        width: auto;
        left: 0;
        margin: 0;
    }
  
    .menu {
        margin-right: 40px;
    }
    
    .menuItem {
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
        color: black;
        margin: 0 15px 0 15px;
    }
    
    .menuItem:hover {
        color: crimson;
        border-bottom: 3px solid crimson;
    }
}