.navbar {
    height: 20vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background: rgb(210, 210, 210);
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu {
    margin: 0 1vw 0 0;
}

.logo {
    height: 20vh;
    width: auto;
}

.menuItem {
    margin: 1vw;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: black;
}

.menuItem:hover {
    color: crimson;
    border-bottom: 3px solid crimson;
}