.navbar {
    height: 20vh;
    width: 100vw;
    margin: 0, auto;
    /* padding: 2rem 2rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    height: 20vh;
    width: auto;
}

.menuItem {
    margin: 1vw;
    font-size: 20px;
    cursor: pointer;
}

.menuItem:hover {
    color: crimson;
    border-bottom: 3px solid crimson;
}